body {
    margin:0px;
    width: 1440px;
    max-width: 1440px;
    height: 1024px;
    max-height: 1024px;
    
}
.header_container {
    position: fixed;
    background-color: #09212A;
    width: 100%;
    display: flex;
    justify-content: center;


}
.logo_container {
    width: 1440px;
    padding: 20px 140px
}